:root{
    --border: 0.5px solid grey;
    --width: 100%;
    --alignment: 0px 10px
}
footer{
    width: var(--width);
    /* border: var(--border); */
    /* margin-top: 30px; */
    /* height: 250px; */
    padding: var(--alignment);
    display: grid;
    place-content: center;
    border-top: var(--border);
}
footer > section{
    /* border: var(--border); */
    width: var(--width);
    height: inherit;
    padding: var(--alignment);
    /* margin-top: 10px; */
    /* height: 200px; */
}
.icons{
    font-size: 20px;
    /* display: flex; */
}
.icon_style{
    margin-left: 10px;
    cursor: pointer;
}
/* footer > section > h3{} */