@media screen and (min-width: 768px) and (max-width: 1023px)
{
    :root
    {
        --border: 1px solid grey;
    }
    body{
        background:rgba(32, 33, 36, 0.923);
        color: white;
    }
    body>header{
        width:100%;height: 10vh;
        display:flex;justify-content:center;
        background:rgba(32, 33, 36);
        background: linear-gradient(180deg, dodgerblue, rgb(7, 60, 112));;
        background-size: cover;
    }
    body>header>nav{
        width: 700px;
        display: flex;
        justify-content: space-between;
        padding: 3vh 0;
    }
    body>header>nav>.show{
        display: flex;
        justify-content: flex-start;
    }
    body>header>nav>div{
        display:flex;justify-content: space-around;
    }
    body>header>nav>div>span{
        cursor: pointer;
        margin-left: 2vw;
    }
    .fa-bars{
        display: none;
    }
    .overlay{
        width: 100%;height: 0px;
        position:fixed;top:0;background:rgb(32, 33, 36);
        z-index:1;display:grid;place-content:center;
        transition: 0.4s;
        visibility: hidden;
    }
    .toggle_overlay{
        height: 100px;
        visibility: visible;
    }
    .overlay>form{
        width: 1500px;height:50px;
        display:flex;justify-content:space-between;
    }
    .overlay>form>label{
        display:flex;
    }
    .overlay>form>label>input{
        width: 1000px;background:transparent;
        border:1px solid grey;padding-left:20px;
        caret-color:white;
        outline:none;color:white
    }
    .overlay>form>label>button{
        border-radius:0px;
        border: 1px solid grey;
    }
    .overlay>form>a{
        padding-top:15px;text-decoration:none;
        cursor: pointer;
    }
    .fa-yelp{
        display: none;
    }
    main
    {
        min-height: 800px;
        display: grid;
        place-content: center;
    }
    main > section
    {
        width: 700px;
        min-height: inherit;
        margin-top: 50px;
    }
    .grped_cal
    {
        width: 680px;
        min-height: inherit;
        margin: 10px;
        border-radius: 10px;
        background:rgba(32, 33, 36, 0.923);
    }
    .grped_cal > div
    {
        width: inherit;
        border-radius: 10px 10px 0px 0px;
        height: 40px;
        border-bottom: var(--border);
    }
    .grped_cal > div > span
    {
        margin: 10px 5px;
        filter: brightness(70%);
    }
    .grped_cal > div > span:first-child
    {
        margin-left: 10px;
    }
    .grped_cal > .info
    {
        min-height: 760px;
        width: inherit;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .grped_cal > .info > .intervals
    {
        min-height: 760px;
        width: 400px;
        border-right: var(--border);
        
    }
    .grped_cal > .info > .results
    {
        min-height: 760px;
        width: 280px;
    }
    .intervals > form
    {
        display: flex;
        justify-content: flex-end;
    }
    .intervals > form > button
    {
        margin: 0px 2px;
    }
    .main-intv
    {
        width: inherit;
        min-height: 730px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
    }
    .main-intv > form
    {
        min-height: 730px;
        border: var(--border);
    }
}