@media screen and (max-width: 767px)
{
    main
    {
        min-height: 800px;
        display: grid;
        place-content: center;
    }
    main > section
    {
        width: 100%;
        min-height: inherit;
        margin-top: 50px;
    }
    .grped_cal
    {
        width: 400px;
        min-height: inherit;
        margin: 10px;
        border-radius: 10px;
        background:rgba(32, 33, 36, 0.923);
    }
    .grped_cal > div
    {
        width: inherit;
        border-radius: 10px 10px 0px 0px;
        height: 40px;
        border-bottom: var(--border);
    }
    .grped_cal > div > span
    {
        margin: 10px 5px;
        filter: brightness(70%);
    }
    .grped_cal > div > span:first-child
    {
        margin-left: 10px;
    }
    .grped_cal > .info
    {
        min-height: 760px;
        width: inherit;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .grped_cal > .info > .intervals
    {
        min-height: 760px;
        width: 200px;
        border-right: var(--border);
        
    }
    .grped_cal > .info > .results
    {
        min-height: 760px;
        width: 180px;
        border-left: var(--border);
    }
    .intervals > form
    {
        display: flex;
        flex-direction: column;
    }
    .intervals > form > button
    {
        margin: 5px;
        font-size: 10px;
        width: 130px;
    }
    .main-intv
    {
        width: inherit;
        min-height: 730px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
    }
    .main-intv > form
    {
        min-height: 730px;
        border: var(--border);
    }
    .ifr
    {
        height: 20px;
        color: white;
        font-size: 13px;
    }
}