body{
    background:rgba(32, 33, 36, 0.923);
}
body>footer{
    width:100%;
    display:flex;
    justify-content:center;
    background:rgba(32, 33, 36, 0.923);
    margin-top: 100px;
}
body>footer>section{
    width:1500px;
    margin-top: 50px;
}