:root{
    --bgcolor: rgba(32, 33, 36, 0.923);
    --padding: 40px;
    --display: flex;
    --j_content: center;
    --f_direction: column;
}
@media screen and (max-width: 767px) {
    /* Your CSS rules for small screens here */
    body{
        width: 100%;
        display: var(--display);
        justify-content: var(--j_content);
        flex-direction: var(--f_direction);
        background: var(--bgcolor);
    }
    footer{
        width:  100%;
        display:flex;
        flex-wrap: wrap;
        justify-content:center;
        background: var(--bgcolor);
        margin-top: 100px;
        padding: var(--padding);
    }
    h5{
        padding: 7px 0px 0px 5px;
        font-size: 4vw;
    }
    .show{
        display: flex;
        width: 40vw;
        border-radius:0px 50px 50px 0px;
    }
    .show > span{
        padding-left: 10px;
    }
    .show > span > i {
        padding-top: 10px;
        font-size: 3vw
    }
    .embody-text{
        width: inherit;
        font-size: 3vw
    }
    .embody-text > p:first-child{
        padding-top: 20px;
    }
    .social_media_icons{
        display: flex;
        flex-direction:column;
        width: 80vw
    }
    .social_media_icons > a:first-child {
        padding-top: 20px;
    }
    .social_media_icons > a {
        padding-top: 10px;
    }
    .Right_reserved{
        padding-top: 20px;
    }
  }