@media screen and (min-width: 1024px) 
{
    main
    {
        width: 100%;
    }
    main > section
    {
        width: 100%;
        display: grid;
        place-content: center;
        background: linear-gradient(180deg, dodgerblue, rgb(7, 60, 112));
        height: 450px;
    }
    main > section > div
    {
        width: 1050px;
        min-height: 300px;
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        place-content: center;
    }
    main > section > div > div
    {
        height: 450px;
        margin: 0px 25px;
    }
    main > div
    {
        display: grid;
        place-content: center;
    }
    main > div > div
    {
        width: 1000px;
        display: grid;
    }
    main > div > div > div
    {
        width: 955px;
        margin: 20px 0px;
    }
    .all_cards
    {
        display: grid;;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
    .each_card_style
    {
        background:transparent;
        transition: 1s;
        height:10cm;
        cursor: pointer;
    }
    .container_image
    {
        height: 4cm;
        background-size: cover;
    }
    select
    {
        background: transparent;
        color: white;
    }
    option
    {
        background: rgba(32, 33, 36, 0.923);;
        color: white;
    }
    .options
    {
        display: flex;
        justify-content: space-between;    
        height: 40px;
    }
    .options > form
    {
        margin-top: 20px;
    }
    #search
    {
        background: transparent;
        border-top: none;
        border-right: none;
        border-left: none;
        width: 7cm;
        outline-style: none;
        caret-color: white;
        color: white;
    }
    .sep > div > button
    {
        margin-top: 10px;
    }
    .landing_page_text
    {
        display: grid;
        place-content:center;
    }
    .landing_page_text > p
    {
        margin-top: 20px;
        font-size:20px
    }
    .landing_page_text > button
    {
        width: 5cm;
    }
    #image_disp
    {
        background-image: url('../web_images/Female-College-Student-PNG-Photo.png');
        background-size: cover;
        margin-left: 70px;
        transition: 1s;
    }
    #words
    {
        overflow: hidden;
        white-space: nowrap;
        animation: type 2s steps(30) forwards,
         blink-caret 0.5s step-end infinite;
    }

    @keyframes type
    {
        from {
            width: 0;
        }
    }

    @keyframes blink-caret
    {
        from, to
        {
            border-color: transparent;
        }
        50% 
        {
            border-color: black;
        }
    }
}