:root
{
    --border: 1px solid grey
}
body
{
    display: grid;
    place-content: center;
}

#root {
    display: grid;
    margin-top: 100px;
}

#root > div
{
    display: flex;
    flex-direction: column;
}

button
{
    width: 3cm;
}