:root{
    --border: 3px solid lightgrey;
    --width: 100%;
}
body{
    margin: 0;
    padding: 0;
}
header{
    height: 70px;
    width: var(--width);
}

header > nav{
    width: var(--width);
    padding: 7px;
    /* border: var(--border); */
    height: inherit;
    display: flex;
    justify-content: space-between;
}

header > nav > h1{
    padding-top: 10px;
}

@media screen and (min-width: 1024px){
    header{
        height: 300px;
    }
    header > nav{
        height: 300px;
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    header{
        height: 300px;
    }
    header > nav{
        height: 300px;
        display: none;
    }
}