/*sass stands for Syntactically Awesome Stylesheet*/
$myFont: Helevicta, sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 680px;

body{
    font-family: $myFont;
    font-size: $myFontSize;
    color: $myColor;
}
#container {
    width: $myWidth;
}  